<main class="container px-4 py-6 md:container md:mx-auto">
  @if (measures$ | async; as measures) {
    <div class="mb-4 rounded-md border border-gray-200 px-4 py-2">
      <p-chart type="line" [data]="dataChart" [options]="optionsChart" />
    </div>

    <h2 class="mb-2">Historial</h2>

    @if (measures.length === 0) {
      <div
        class="flex h-28 items-center justify-center rounded-md border border-gray-200"
      >
        <p>No hay medidas</p>
      </div>
    }

    <table class="mb-6 w-full text-left">
      <tbody>
        @for (item of measures; track item.id) {
          <tr class="odd:bg-white even:bg-gray-100">
            <td scope="row" class="px-4 py-2">
              <button (click)="openMeasureModal(item.id)" class="text-blue-700">
                {{ item.created | date: "mediumDate" }}
              </button>
            </td>
            <td scope="row" class="px-4 py-2">{{ item.measures.weight }} lb</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <app-skeleton />
  }
</main>
