<main class="container px-4 py-6 md:container md:mx-auto">
  @if (workouts$ | async; as data) {
    @if (data.length === 0) {
      <div
        class="flex h-28 items-center justify-center rounded-md border border-gray-200"
      >
        <p>No hay Rutinas</p>
      </div>
    }

    @for (item of data; track item.id) {
      <div class="mb-2 flex gap-2 pb-2">
        <div
          [ngClass]="gradient"
          class="flex h-14 w-14 items-center justify-center rounded-full border bg-gradient-to-r font-bold uppercase text-white"
        >
          <h2>{{ getDayOfWeek(item.day) }}</h2>
        </div>
        <div>
          <a [routerLink]="['/workouts', item.id]" href="#"
            ><h2 class="text-blue-600">{{ item.name }}</h2></a
          >

          @let exercises = item.exercises;

          @let muscles = getMuscles(exercises);

          <p class="text-sm text-gray-400">{{ muscles.join(", ") }}</p>
        </div>
      </div>
    }
  } @else {
    <app-skeleton />
  }
</main>
