@if (routine$ | async; as routine) {
  <section class="bg-gray-100">
    <div class="container px-4 py-4 md:container md:mx-auto">
      <nav class="mb-4">
        <button type="button" (click)="goBack()">
          <i class="pi pi-arrow-left"></i>
        </button>
      </nav>

      <h2 class="mb-2">{{ routine.title }}</h2>
      <p class="mb-2 text-gray-600">
        {{ routine.level_display }}
      </p>

      @if (routine.description) {
        @let description = byPassHTML(routine.description);
        <div
          class="prose-sm break-words text-left"
          [innerHTML]="description"
        ></div>
      }
    </div>
  </section>

  <main class="container px-4 py-6 md:container md:mx-auto">
    <p>{{ routine.exercises.length }} ejercicios</p>

    @for (item of routine.exercises; track item.id) {
      <a href="#" [routerLink]="['/exercises', item.id]" class="block py-2">
        <div class="mb-2 grid grid-cols-12 gap-2 pb-2">
          <div class="col-span-2">
            <app-prime-avatar [avatar]="item.exercise.image"></app-prime-avatar>
          </div>
          <div class="col-span-10">
            <h2 class="text-blue-700">{{ item.exercise.name }}</h2>
            <p class="text-sm text-gray-400">
              {{ item.exercise.muscle.name }}
            </p>
          </div>
        </div>

        @if (item.description) {
          @let description = byPassHTML(item.description);
          <div
            class="prose-sm mb-2 break-words text-left text-gray-600"
            [innerHTML]="description"
          ></div>
        }
      </a>
    }
  </main>
} @else {
  <app-skeleton />
}
