<div class="px-4 md:mx-auto md:w-1/3">
  <div class="mt-4 flex justify-center">
    <img src="logo.png" alt="Logo" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div class="mb-2">
      <label for="username" class="form-label">Usuario</label>
      <input
        type="text"
        fluid="true"
        pInputText
        formControlName="username"
        pSize="large"
      />
      <p class="form-error">{{ checkErrors("username") }}</p>
    </div>

    <div class="mb-2">
      <label for="password" class="form-label">Contraseña</label>
      <p-password
        formControlName="password"
        fluid="true"
        [toggleMask]="true"
        [feedback]="false"
        size="large"
      />
      <p class="form-error">{{ checkErrors("password") }}</p>
    </div>

    <button class="btn-primary mt-4" type="submit">
      <span *ngIf="!loginForm.disabled">Iniciar Sesión</span>
      <span *ngIf="loginForm.disabled">Cargando...</span>
    </button>
  </form>
</div>
<p-toast [breakpoints]="{ '920px': { width: '70%' } }" />
