<div class="mb-2 flex gap-2 pb-2">
  <div
    [ngClass]="gradient"
    class="flex h-14 w-14 items-center justify-center rounded-full border bg-gradient-to-r font-bold uppercase text-white"
  >
    <h2>{{ getDayOfWeek(workout.day) }}</h2>
  </div>
  <div>
    <a [routerLink]="['/workouts', workout.id]" href="#"
      ><h2 class="text-blue-600">{{ workout.name }}</h2></a
    >

    @let exercises = workout.exercises;

    @let muscles = getMuscles(exercises);

    <p class="text-sm text-gray-400">{{ muscles.join(", ") }}</p>
  </div>
</div>
