<form [formGroup]="profileForm" (ngSubmit)="hanldleSubmit()">
  <app-upload-avatar [user]="user" />

  <div class="mb-2">
    <label for="first_name" class="form-label">Nombres</label>
    <input type="text" fluid="true" pInputText formControlName="first_name" />
  </div>

  <div class="mb-2">
    <label for="last_name" class="form-label">Apellidos</label>
    <input type="text" fluid="true" pInputText formControlName="last_name" />
  </div>

  <div class="mb-2">
    <label for="phone" class="form-label">Telefono</label>
    <input type="number" fluid="true" pInputText formControlName="phone" />
  </div>

  <div class="mb-2">
    <label for="age" class="form-label">Edad</label>
    <input type="number" fluid="true" pInputText formControlName="age" />
  </div>

  <div class="mb-2">
    <label for="weight" class="form-label">Peso</label>
    <input type="number" fluid="true" pInputText formControlName="weight" />
  </div>

  <div class="mb-2">
    <label for="height" class="form-label">Altura</label>
    <input type="number" fluid="true" pInputText formControlName="height" />
  </div>

  <div class="mb-2">
    <label for="experience_level" class="form-label">Experiencia</label>
    <input
      type="text"
      fluid="true"
      pInputText
      formControlName="experience_level"
    />
  </div>

  <!-- <div class="flex justify-between">
    <div>Permitir notificaciones</div>
    <div>
      <p-togglebutton
        formControlName="notification"
        onLabel="On"
        offLabel="Off"
      />
    </div>
  </div> -->

  <button class="btn-primary mt-4" type="submit">Guardar</button>
</form>
