<section class="w-full">
  @for (c of comments; track c.id) {
    <article class="mb-2">
      <div class="flex gap-2">
        <div>
          <img
            [src]="c.user.photo"
            class="h-10 w-10 rounded-full border border-gray-200 object-cover"
          />
        </div>
        <div class="flex flex-col rounded-2xl bg-gray-100 p-2">
          <strong>{{ c.user.username }}</strong>
          <p class="text-sm">{{ c.content }}</p>
          <p class="text-xs text-gray-500">
            {{ c.created | timeAgo }}
          </p>
        </div>
        @if (canDelete(c)) {
          <button (click)="handleDelete(c.id)" class="text-red-700">
            <i class="pi pi-trash"></i>
          </button>
        }
      </div>
    </article>
  }

  <form
    [formGroup]="commentForm"
    (ngSubmit)="saveComment()"
    class="mb-4 flex gap-2"
  >
    <div class="flex-1">
      <textarea
        id="content"
        name="content"
        rows="2"
        placeholder="Escribe tu comentario..."
        formControlName="content"
        style="field-sizing: content"
        class="w-full rounded-md text-sm"
      ></textarea>
    </div>

    <div>
      <button
        type="submit"
        class="bg-blue-700 px-4 py-2 text-sm text-white"
        [disabled]="commentForm.invalid"
      >
        Comentar
      </button>
    </div>
  </form>
</section>
<p-confirmdialog />
